<%- include('./partials/header') %>
  
  <p>Welcome to Matthew's <%= title %> Page</p>
  <p>Click the link below to learn more.</p>
  <a href="/skills">Matthew's Skills</a>

<%- include('./partials/footer') %>